<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    {{ turbo() }}
</head>
<body>
    
   <nav class="navbar">
        <a class="navbar-brand" href="#">
            <img src="https://key0.cc/images/small/48072_42ce5eb9cc375dbdbd0e45ad5c4cb98e.png" width="50" height="50" alt="">
        </a>
        <a class="navbar-brand" href="#">
            <img src="https://key0.cc/images/small/48072_42ce5eb9cc375dbdbd0e45ad5c4cb98e.png" width="50" height="50" alt="">
        </a>
        <h1 class="back-text">Jonas Weather Broadcast</h1>
        <h1 class="front-text">Jonas Weather Broadcast</h1>
        <a class="navbar-brand" href="#">
            <img src="https://key0.cc/images/small/48072_42ce5eb9cc375dbdbd0e45ad5c4cb98e.png" width="50" height="50" alt="">
        </a>
        <a class="navbar-brand" href="#">
            <img src="https://key0.cc/images/small/48072_42ce5eb9cc375dbdbd0e45ad5c4cb98e.png" width="50" height="50" alt="">
        </a>
    </nav>
    
    
    <div class="grid-container">
        <div class="grid-item"></div>
        <div class="grid-item">Temperature</div>
        <div class="grid-item">Humidity</div>  
        <div class="grid-item"></div>
        <div class="grid-item"></div>
        <div class="grid-item">
            <img src="https://www.iconpacks.net/icons/2/free-thermometer-icon-1829-thumb.png" width="200" height="200" alt="">
        </div>
        <div class="grid-item">
            <img src="https://cdn-icons-png.flaticon.com/512/727/727790.png" width="200" height="200" alt="">
        </div>
        <div class="grid-item"></div>  
      </div>
      
      {% include "loadavg.html" %}  

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
