<div id="load" class="load">
  <div class="grid-container">
    <div class="grid-item"></div>
    <div class="grid-item">Temperature</div>
    <div class="grid-item">Humidity</div>  
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item">
        <img src="https://www.iconpacks.net/icons/2/free-thermometer-icon-1829-thumb.png" width="200" height="200" alt="">
    </div>
    <div class="grid-item">
        <img src="https://cdn-icons-png.flaticon.com/512/727/727790.png" width="200" height="200" alt="">
    </div>
    <div class="grid-item"></div>  
    <div class="grid-item"></div>
      <div class="grid-item">
        {{temperature}}
      </div>
      <div class="grid-item">
        {{humidity}}
      </div>
      <div class="grid-item"></div>
  </div>
</div>